<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <title>跳转中....</title>
    <script language="javascript">
        function submit(data) {
        setData(data);
        document.getElementById('actionUrl').submit();
        }

        function setData(data){
            document.getElementById('data').value =data.data;
            document.getElementById('merchant_id').value =data.merchant_id;
            document.getElementById('encryptkey').value =data.encryptkey;
            document.getElementById('actionUrl').action =data.ActionUrl;
        }

    </script>
</head>
<body>
<form action="ActionUrl" name="punchout_form" method="post" id="actionUrl">
    <input type="hidden" name="data" id="data" value=""/>
    <input type="hidden" name="merchant_id" id="merchant_id" value=""/>
    <input type="hidden" name="encryptkey" id="encryptkey" value="">
</form>
<script>document.forms[0].submit();</script>
</body>
</html>